body{
	background-color:#FCF6D5;

}

.container{
	    -webkit-animation: fadein 8s; 

}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.title {
	border-radius: 46px;
	height: 140px;
	width: 1060px;
	background-color: #FCF6D5;
	margin-left:-250px;
	
}

button.home{
    top: 25em;
    margin-left: -30px;
    position: fixed;

}
button{
	border:none;
	background-color: #FCF6D5;
	transform: rotate(-90deg);
	position: absolute;

}
a{
	font-family: Redaction;
	font-size: 50px;
	text-decoration:none;
	color: black;

}

a.home{
	font-size:45px;
}
a .next{
	font-family: Redaction;
	font-size: 60px;
	text-decoration:none;
	color: black;

}


a:hover{
	color:#8dcf5a;
	text-decoration: none;
}


.body{
	padding: 150px;
    margin-top: -155px;
    left: 50px;
    width:65%;

}

.body p{
    margin-top: -75px;
    font-size: 2em;
    text-align: left;
    line-height: 50px;
}

#slide {
	-webkit-transition:1s;
	border:none;
	width: 900px;
	background-color: #BEF891;
	display: flex;
	flex-direction: row;
	position: sticky;
	margin-left: 85vw;
	margin-top: -260vh;
	border-radius: 46px 0 0 46px;
}

#slide.clicked{
	margin-left: 30vw;
}

.tab-title {
	transform: rotate(90deg);
	position: relative;
	left: -140px;
}

.tab-title h2 {
	font-size: 3.5em;
	font-family: Redaction;
	font-style: normal;
	font-weight: 200;
	letter-spacing: 0em;
}
.tab-title h2:hover{
	color:#8dcf5a;
}

.tab-text p{
	font-size: 2em;
	padding:15px;
	font: Redaction, serif;
	margin-left:50px;
	line-height: 2rem;
	width: 90%;
	position: relative;
	left: -50px;
}

.slide p {
	font-size: 2.5em;
}

/*slide1*/
#slide1 {
	-webkit-transition:1s;
	border:none;
	width: 900px;
	background-color: #BEF891;
	display: flex;
	flex-direction: row;
	position: sticky;
	margin-left: 85vw;
	margin-top: 10vh;
	border-radius: 46px 0 0 46px;
}

#slide1.clicked{
	margin-left: 30vw;
}

.tab-title1 {
	transform: rotate(90deg);
	position: relative;
	left: -100px;
}

.tab-title1 h2 {
	font-size: 3.5em;
	font-family: Redaction;
	font-style: normal;
	font-weight: 200;
	letter-spacing: 0em;
}
.tab-title1 h2:hover{
	color:#8dcf5a;
}

.tab-text1 p{
	font-size: 2em;
	padding:15px;
	font: Redaction, serif;
	margin-left:50px;
	line-height: 2rem;
	width: 90%;
	position: relative;
	left: -50px;
}

.slide1 p {
	font-size: 2.5em;
}

/*slide2*/
#slide2 {
	-webkit-transition:1s;
	border:none;
	width: 900px;
	background-color: #BEF891;
	display: flex;
	flex-direction: row;
	position: sticky;
	margin-left: 85vw;
	margin-top: 25vh;
	border-radius: 46px 0 0 46px;
}

#slide2.clicked{
	margin-left: 30vw;
}

.tab-title2 {
	transform: rotate(90deg);
	position: relative;
	left: 5px;
	top:20px;
}

.tab-title2 h2 {
	font-size: 2em;
	font-family: Redaction;
	font-style: normal;
	font-weight: 200;
	letter-spacing: 0em;
}
.tab-title2 h2:hover{
	color:#8dcf5a;
}

.tab-text2 p{
	font-size: 2em;
	padding:15px;
	font: Redaction, serif;
	margin-left:50px;
	line-height: 2rem;
	width: 90%;
	position: relative;
	left: -0px;
}

.slide2 p {
	font-size: 2.5em;
}

/*next*/
.next{
	border-radius: 46px 46px 0 0;
	background:#BEF891;
	height: 140px;
	width: 460px;
	border-color:#BEF891;
	margin-left:300px;
	margin-top:800px;
	transform: rotate(0deg);
	align-self: center;
}
.next a{
	font-size: 5em;
}

@media screen and (max-width: 760px){
	
	.title{
		margin-left:-200px;
	}
	a{
	font-size: 3em;
	}

	.body{
		margin-left:-80px;
	}

	.body p{
		font-size:1.5em;
		line-height: 45px;

	}

	.slidebars h2{
		font-size:20pt;
		transform: rotate(0deg)
	}
	.slidebars p{
		font-size:14pt;
	}

	#slide{
		margin-top:-300vh;
	}
	#slide.clicked{
		margin-left:2vw;
	}
	.tab-title{
		left:-100pt;
	}
	.tab-text{
		width:50%;
	}

	#slide1{
		margin-top:20vh;
	}
	#slide1.clicked{
		margin-left:2vw;
	}
	.tab-title1{
		left:-80pt;
	}
	.tab-text1{
		width:50%;
	}

	#slide2{
		margin-top:40vh;
		height:30%;
	}
	#slide2.clicked{
		margin-left:2vw;
	}
	.tab-title2{
		left:-60pt;
		top:-5pt;
	}
	.tab-text2{
		width:40%;
	}




	.next{
		margin-left:80px;
		margin-top:800px;
		width:60%;
		font-size:10pt;

	}



}


